/* Изменение цвета заголовков */
.title {
    color: #afaa4c !important; /* Зеленый цвет текста заголовка */
}

/* Фон заголовка */
.header {
    background-color: #333333 !important; /* Темный фон заголовка */
    color: #FFFFFF !important; /* Белый текст в заголовке */
}

/* Изменение цвета кнопок */
.button {
    background-color: #2196F3 !important; /* Синий фон кнопок */
    color: #FFFFFF !important; /* Белый текст кнопок */
}

/* Фон всей страницы */
.swagger-ui {
    background-color: #f4f4f4 !important; /* Светло-серый цвет для фона всех страниц */
}
